nav{
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5px;
}

.home{
  font-size: 18px !important;
}

.flex-cards{
  display:flex;
  flex-wrap: wrap;
  gap: 10px;
}

.template{
  display: none !important;
}
